@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

div .register {
    height: 80%;
    width: auto;
    justify-content: space-evenly;

    h1 {
        padding: 10px;
        border-color: rgb(186, 184, 184);
        border-bottom-width: 6px;
    }

    form {
       
        display: flex;
        flex-direction: column;
    
        label{
            display: flex;
            justify-content: space-between;
            font-family: Georgia;
            font-weight: 800;
        }

        input {
            height: 35px;
            width: 300px;
            margin-bottom: 10px;
            margin-top: 5px;
            border-color: rgb(181, 181, 181);
            border-width: 1px;
            padding: 17px;
        }
    }
}